.bcl-01 { background-color: #7e3af2; }
.bcl-02 { background-color: #0694a2; }
.bcl-03 { background-color: #1c64f2; }
.bcl-04 { background-color: #ff7f50; }
.bcl-05 { background-color: #ffd700; }
.bcl-06 { background-color: #00ff00; }
.bcl-07 { background-color: #ff1493; }
.bcl-08 { background-color: #8a2be2; }
.bcl-09 { background-color: #ff4500; }
.bcl-10 { background-color: #4b0082; }
.bcl-11 { background-color: #00ced1; }
.bcl-12 { background-color: #ffc0cb; }
.bcl-13 { background-color: #00fa9a; }
